<% if(success && success.length) {%>
<div class="container">
  <div
    class="m-2 alert alert-success alert-dismissible fade show"
    role="alert"
  >
    <%= success %>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  <% } %>
</div>

<div class="container">
  <% if(error && error.length) {%>
  <div class="mt-2 alert alert-danger alert-dismissible fade show" role="alert">
    <%= error %>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  <% } %>
</div>

<!-- success and error are arrays. So checking just success/error is true will not work as it will return an empty an array which is inherently truthy. So we are checking do they have an element within them with success.length -->
