<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; YelpCamp 2020</span>
        <!-- &copy; gives you the copywright symbol -->
    </div>
</footer>

<!-- By applying margin-top: auto to a flex item within a flex container, you can push that item to the bottom of the container. This is because in a column flex container, the main axis runs vertically from top to bottom. Setting margin-top to auto on an item pushes it as far down the main axis as possible. -->
<!-- Difference Between align-self and justify-content: -->
<!-- align-self is a property used to align individual flex items along the cross axis of the flex container. It allows you to control the alignment of specific items independently of the others.
justify-content is a property used to align flex items along the main axis of the flex container. It affects the alignment of all items within the container as a group. -->
<!-- Absence of justify-self: -->
<!-- Unlike align-self, which allows individual control over cross-axis alignment, there is no equivalent property for controlling alignment along the main axis at the item level. Therefore, to achieve alignment of a single item along the main axis, we can use margin-top: auto or margin-left: auto, depending on the direction of the main axis. -->