<footer class="footer bg-black py-3 mt-auto">
    <div class="container-fluid text-center">
        <span class="text-white">&copy; DestinationDiaries 2024</span>
    </div>
</footer>

<!-- By applying margin-top: auto to a flex item within a flex container, you can push that item to the bottom of the container. This is because in a column flex container, the main axis runs vertically from top to bottom. Setting margin-top to auto on an item pushes it as far down the main axis as possible. -->